

#withdrawModal .modal-content{
   border-radius: 1.2rem;
   padding: 1rem;
}


#withdrawModal .modal-header button.btn-close {
    border: 0.1rem solid #343434;
    padding: 0.4rem;
    border-radius: 50%;
    font-size: 0.6rem;
}

#withdrawModal  .bank-name {
    border: 0.1rem solid #343434;
    padding: 1rem;
    border-radius: 0.625rem;
    background-color: #FAF9FB;
    
}
#withdrawModal  .amount {
    padding: 0.8rem;
    border-radius: 0.625rem;
    
}