/* Modal Custom CSS  */
/* .modal-dialog, */
#editpostModal.come-from-modal.right .modal-header h1 {
  font-size: 1.5rem;
  font-family: var(--font-family-body);
  font-weight: 700;
  line-height: 1.8rem;
}

#editpostModal.come-from-modal.right .btn-close {
  border: 1px solid var(--color-text-ash);
  border-radius: 50%;
  font-size: 0.625rem;
}



.title span,
.title p {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: var(--color-text-ash);
}

.title h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}



.location {
  display: flex;
  align-items: center;
  position: relative;
}

.location .location-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}


#editpostModal.come-from-modal.right .post_form .form_row label {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  margin-bottom: 1rem;
}

.post_form .form_row select,
.post_form .form_row input {
  font-size: 0.8rem;
  border: 0.5px solid;
  padding: 10px 14px;
}

.post_form .form_row select {
  appearance: auto !important;
}


#editpostModal.come-from-modal.right #post_form .row button.preview-btn {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: var(--primary-purple);
  padding: 14px 24px;
  border-radius: 8px;
  border: 0.5px solid var(--primary-purple);
  width: 100%;
}

#editpostModal.come-from-modal.right #post_form .row button.proceed-btn {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  background-color: var(--primary-purple);
  color: var(--color-text-white);
  padding: 14px 24px;
  border-radius: 8px;
  width: 100%;
}