@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


:root {
  --primary-purple: #5E0096;
  --color-primary-dark: #071830;
  --color-primary-light: #ba5af2;
  --color-bg-light: #ece5ff;
  /* --color-bg: #f2f1f8; */
  --color-bg: #F2F1F8;



  --color-primary-blue: #1A69AF;
  --color-secondary: #0D2F5F;
  --color-secondary-dark: #071830;
  --color-secondary-light: #35527A;
  --color-primary-accent: #5800E5;
  --color-secondary-accent: #0D5F55;
  --color-tertiary-accent: #5F0D2F;
  --color-text-white: #ffffff;
  --color-text-dark: #000000;
  --color-bg-ash: #5E7494;
  --color-ash: #AEBACA;
  --color-light-yellow: #FFFFE5;
  --color-light-red: #ffEBEB;
  --color-light-green: #EBFFEB;
  --color-text-yellow: #676700;
  --color-text-green: #009900;
  --color-text-red: #ff0000;
  --color-text-ash: #8898AA;
  --color-bg-yellow: #FFFFE5;





  --primary-purple-hover: #5f0096df;
  --box-shadow: 0 2px 8px -4px #000000;
  --font-family-body: "Bricolage Grotesque", serif;
  --font-family-text: "Archivo", serif;

  --bg-gradient: linear-gradient("7E40EA");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family-body);
}


::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primary-purple);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-purple);
  border-radius: 10px;
}


body {
  font-size: 0.875rem;
}

.feather {
  width: 1rem;
  height: 1rem;
}

/******* Navbar ************/

.navbar {
  background: var(--primary-purple);
}



.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
  color: var(--text-white);
  font-weight: 100;
}

.navbar .div-control {
  padding: 0.75rem 1rem;
}





.dashboard_container {
  background-color: var(--color-bg);
  /* padding: 2rem; */
}

.dashboard {
  width: 100%;
}

.dashboard .row {
  width: 100%;
  display: flex;
  flex-flow: row;
}








/* Responsiveness  */

@media (min-width: 374px) {


  .sidebar-brand .icon-close {
    margin-left: 12rem !important;

  }

  .sidebar-sticky {
    padding: auto 1.5rem !important;
  }

  .page_header {
    width: 95% !important;
  }



  .container__data .card {
    width: 10rem;
    margin-right: 0.2rem;
  }

  /* .container__data .card h2 {
    font-size: 2.5rem !important;
  } */

  /* .container__data .card p {
    font-size: 1.1rem !important;
  } */

  .container__data .buttons button.saved {
    padding: 0.8rem 1.4rem !important;
  }

  .container__data .buttons button.apply-btn {
    padding: 0.8rem 4.5rem !important;
  }

  .container__data .container_bottom p {
    font-size: 0.9rem !important;
    line-height: 1.5rem !important;
  }

  .container__data .container_bottom h2 {
    font-size: 1rem !important;
    line-height: 1.2rem !important;
  }

  #settings.container__data .profile_form .close_btn {
    right: -20rem !important;
  }




  #reviews.tab-content .card .card_top .top_cta .icon-saved {
    font-size: 0.85rem !important;
  }

  .page_title .payment-btn {
    /* display: flex; */
    justify-content: space-between;

  }

  .page_title .payment-btn a {
    justify-self: center;
    align-self: center;
  }

}

@media (min-width: 425px) {
  .sidebar-brand .icon-close {
    margin-left: 15rem !important;

  }

  main {
    padding: 0.8rem 1.5rem !important;
  }

  .page_header {
    width: 94% !important;
  }

  .filter-btn {
    padding: 0.625rem 1.25rem !important;
  }


  .container__data .cards {
    /* gap: 1.3rem !important; */
  }

  .container__data .card {
    width: 11rem;
  }

  .container__data .card .bottom button.track-btn {
    padding: 0.75rem 3.5rem !important;
  }

  .container__data .card .bottom button.cancel {
    padding: 0.75rem 2.5rem !important;
  }

  .container__data .buttons button.saved {
    padding: 0.8rem 1.5rem !important;
  }

  .container__data .buttons button.apply-btn {
    padding: 0.8rem 5.4rem !important;
  }



  .container__data .card .row .col-12 h2 {
    font-size: 1.125rem !important;
  }

  .container__data .card h4 {
    font-size: 0.875rem !important;
  }

  .container__data .card p {
    font-size: 0.875rem !important;
  }

  .container__data .card .bottom {
    margin-top: 1.5rem !important;
  }


  #applicantProfileModal.come-from-modal.right .card .price a {
    padding: 0.75rem 1.5rem !important;
  }


  #applicantProfileModal.come-from-modal.right .profile_details h4 {
    font-size: 1.5rem;
  }

  #applicantProfileModal.come-from-modal.right .client_data h4 {
    font-size: 1.5rem;
  }

  #applicantProfileModal.come-from-modal.right .client_data p {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }

  #applicantProfileModal.come-from-modal.right .tabs ul li {
    padding: 0rem;
  }






  #profileModal.come-from-modal.right .card .price a {
    padding: 0.75rem 1.5rem !important;
  }


  #profileModal.come-from-modal.right .profile_details h4 {
    font-size: 1.5rem;
  }

  #profileModal.come-from-modal.right .client_data h4 {
    font-size: 1.5rem;
  }

  #profileModal.come-from-modal.right .client_data p {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }

  #profileModal.come-from-modal.right .tabs ul li {
    padding: 0rem;
  }

  #settings.container__data .profile_form .close_btn {
    right: -23.5rem !important;
  }








  
  #paymentDetailsModal.come-from-modal.right .modal-header h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
  }

  #paymentDetailsModal.come-from-modal.right .modal-header h1 span.success {
    font-size: 10px !important;
    line-height: 12px;
  }

  #paymentDetailsModal.come-from-modal.right .modal-body .trans_details .values p {
    font-weight: 700 !important;
  }

  #paymentDetailsModal.come-from-modal.right .modal-body .trans_details .labels p,
  #paymentDetailsModal.come-from-modal.right .modal-body .trans_details .values p {
    font-size: 14px !important;

  }







  
  #notificationModal.come-from-modal.right .modal-body .notify_details .labels p,
  #notificationModal.come-from-modal.right .modal-body .notify_details .values p {
    font-size: 14px;
    font-weight: 700;
  }
  
  #notificationModal.come-from-modal.right .modal-body .notify_details .message p {
    font-weight: normal;
  }
  
  
  #notificationModal.come-from-modal.right .modal-body .notify_details .profile_wrapper {
    width: 1.5rem;

  }

  
  #notificationModal.come-from-modal.right .modal-body .notify_details .labels button {
    font-size: 12px;
  }
  
  #notificationModal.come-from-modal.right .modal-body .notify_details .values a {
    font-size: 12px;
  }
  
  #notificationModal.come-from-modal.right .modal-body .notify_details .notify_icon {
    font-size: 12px;
  }

}




@media (min-width: 768px) {
  .dashboard_container {
    padding: 2rem;
  }

  #sidebarMenu {
    top: 0px !important;
    padding-top: 1rem !important;
  }

  .sidebar-sticky {
    overflow-x: none !important;
    scrollbar-width: none;
  }

  .sidebar-brand {
    margin-top: -1rem;

  }

  .sidebar-brand .icon-close {
    margin-left: 6.5rem !important;
    padding: 0.2rem 0.3rem;
    margin-top: -1rem;

  }

  .profile {
    margin-bottom: 2.5rem !important;
  }




  .profile-logout {
    bottom: -5rem !important;
  }

  .page_header {
    width: 22% !important;
    flex-direction: row-reverse;
  }

  /* .page_title {
    width: 18% !important;
    flex-direction: row-reverse;
  } */

  .navbar-toggler {
    margin-top: 0.7rem;
  }


  #walletModal.come-from-modal.right .modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
  }

  #walletModal.come-from-modal.right .modal-content {
    height: 90%;
    overflow-y: auto;
    border-radius: 1.25rem;
  }

  #walletModal.come-from-modal.right.fade .modal-dialog {
    right: 1rem;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  #walletModal.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
  }









  #postModal.come-from-modal.right .modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
  }

  #postModal.come-from-modal.right .modal-content {
    height: 90%;
    overflow-y: auto;
    border-radius: 1.25rem;
  }

  #postModal.come-from-modal.right.fade .modal-dialog {
    right: 1rem;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  #postModal.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
  }



  .container__data .container_bottom button.view-btn {
    font-size: 12px !important;
    line-height: 12px !important;
  }



  #applicantModal.come-from-modal.right .modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
  }

  #applicantModal.come-from-modal.right .modal-content {
    height: 90%;
    overflow-y: auto;
    border-radius: 1.25rem;
  }

  #applicantModal.come-from-modal.right.fade .modal-dialog {
    right: 1rem;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  #applicantModal.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
  }







  #paymentDetailsModal.come-from-modal.right .modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
  }

  #paymentDetailsModal.come-from-modal.right .modal-content {
    height: 90%;
    overflow-y: auto;
    border-radius: 1.25rem;
  }

  #paymentDetailsModal.come-from-modal.right.fade .modal-dialog {
    right: 1rem;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  #paymentDetailsModal.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
  }











  #notificationModal.come-from-modal.right .modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
  }
  
  #notificationModal.come-from-modal.right .modal-content {
    height: 90%;
    overflow-y: auto;
    border-radius: 1.25rem;
  }
  
  #notificationModal.come-from-modal.right.fade .modal-dialog {
    right: 1rem;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }
  
  #notificationModal.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
  }










  .dashboard_profile .profile_wrapper {
    width: 13.5rem !important;
    height: 13.5rem !important;
    border-radius: 1.5rem !important;
  }



  .container__data .dashboard_profile h3 {
    font-size: 2rem !important;
    font-weight: 700;
    line-height: 2.4rem !important;
  }

  .container__data .dashboard_profile p {
    font-size: 0.875rem !important;
    font-weight: 500;
    line-height: 1.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .container__data .dashboard_profile .rate_score {
    font-size: 14px !important;
    line-height: 1.5rem !important;

  }

  .container__data .dashboard_profile h4 {
    font-size: 14px !important;
    line-height: 1.5rem !important;
  }



  .container__data .dashboard_profile .edit-btn {
    padding: 0.6875rem 1.5rem !important;
    width: auto !important;
  }




  .container__data .dashboard_user_data .user_data {
    width: 24% !important;
  }
  .container__data .dashboard_admin_data .user_data {
    width: 24% !important;
  }

  .top_title {
    padding: 1.5rem 0;
  }

  .top_title h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .top_title span a {
    font-size: 0.875rem;
    line-height: 1.05rem;
    margin-right: 2rem;
  }




  
  
#jobrequestModal.come-from-modal.right .modal-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}

#jobrequestModal.come-from-modal.right .modal-content {
  width: 25rem;
  height: 90%;
  overflow-y: auto;
  border-radius: 1.25rem;
}

#jobrequestModal.come-from-modal.right.fade .modal-dialog {
  right: -4rem;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

#jobrequestModal.come-from-modal.right.fade.in .modal-dialog {
  right: 0;
}








  #profileModal.come-from-modal.right .modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
  }

  #profileModal.come-from-modal.right .modal-content {
    width: 25rem;
    height: 90%;
    overflow-y: auto;
    border-radius: 1.25rem;
  }

  #profileModal.come-from-modal.right.fade .modal-dialog {
    right: -4rem;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  #profileModal.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
  }






  #applicantProfileModal.come-from-modal.right .modal-dialog {
    position: fixed;
    width: 100%;
    height: 109%;
    top: -25px;
    transform: translate3d(0%, 0, 0);
  }

  #applicantProfileModal.come-from-modal.right .modal-content {
    width: 25rem;
    height: 90%;
    overflow-y: auto;
    border-radius: 1.25rem;
  }

  #applicantProfileModal.come-from-modal.right.fade .modal-dialog {
    right: -4rem;
    transition: opacity 0.3s linear, right 0.3s ease-out;
  }

  #applicantProfileModal.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
  }


  .container__data .cards {
    gap: 0.8rem !important;
  }

  .container__data .card {
    width: 48% !important;
    margin-bottom: 0.8rem !important;
  }

  .container__data .container_bottom {
    padding: 2rem !important;
  }

  .container__data .job_details {
    padding: 1.5rem !important;
  }

  .container__data .container_bottom p {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }

  .container__data .container_bottom h2 {
    font-size: 1rem !important;
    line-height: 1.2rem !important;
  }


  .container__data .card .bottom button.track-btn {
    padding: 0.75rem 2.8rem !important;
  }

  .container__data .card .bottom button.cancel {
    padding: 0.75rem 1.8rem !important;
  }


  .container__data .buttons button.saved {
    padding: 0.8rem 4rem !important;
  }

  .container__data .buttons button.apply-btn {
    padding: 0.8rem 12rem !important;
  }


  #settings.container__data .profile_data {
    border-right: 1px solid var(--color-text-ash);
    /* padding: 1rem; */
    margin: 1rem;
    position: relative !important;
    display: block !important;
  }

  #settings.container__data .tab-content h3 {
    font-size: 1.5rem !important;
  }

  #settings.container__data .tab-content h4 {
    font-size: 1rem !important;
  }

  #settings.container__data .profile_form {
    position: relative !important;
    height: 85vh;
  }


  /* #settings.container__data .profile_form {
    position: absolute;
  } */

  #settings.container__data .tab-content .profile_wrapper {
    margin-bottom: 1rem !important;
  }

  #settings.container__data .change-image-btn {
    margin-bottom: 1rem !important;
  }


  #settings.container__data form input.email {
    margin-bottom: 4rem !important;
  }


  #settings.container__data .profile_form.hide {
    display: block !important;
  }

  #settings.container__data .profile_form .close_btn {
    display: none;
  }

  /* WALLET CSS  */
  #invoice_section.tab-content,
  #wallet_section.tab-content {
    padding: 1rem !important;
  }


  .container__data .container_bottom h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
  }

  .container__data .container_bottom button.view-btn {
    padding: 12px 24px;
  }



}

@media (min-width: 1024px) {

  .dashboard_container {
    padding: 1rem;
  }

  main {
    min-height: 100vh;
    /* overflow-y: scroll; */
  }

  .profile-logout {
    bottom: -10.5rem !important;
  }



  .page_header {
    width: auto !important;
  }

  .page_title h1 {
    font-size: 1.8rem !important;
  }

  .container__data .card .bottom button.track-btn {
    padding: 0.75rem 2.8rem !important;
  }

  .container__data .card .bottom button.cancel {
    padding: 0.75rem 2rem !important;
  }

  .container__data .buttons button.saved {
    padding: 0.8rem 4.5rem !important;
  }

  .container__data .buttons button.apply-btn {
    padding: 0.8rem 12.4rem !important;
  }


  #settings.container__data form input.email {
    margin-bottom: 4rem !important;

  }
}

@media (min-width: 1440px) {
  .container__data .card {
    width: 32% !important;
    margin-bottom: 0.3rem !important;
  }

  .container__data .card .bottom button.track-btn {
    padding: 0.75rem 3.4rem !important;
  }

  .container__data .card .bottom button.cancel {
    padding: 0.75rem 2.2rem !important;
  }

  /* .container__data .buttons button.apply-btn {
    padding: 0.8rem 10rem !important;
  } */
}