/* Modal Custom CSS  */
/* .modal-dialog, */
#applicantModal.come-from-modal.right .modal-header h1 {
  font-size: 1.5rem;
  font-family: var(--font-family-body);
  font-weight: 700;
  line-height: 1.8rem;
}

#applicantModal.come-from-modal.right .btn-close {
  border: 1px solid var(--color-text-ash);
  border-radius: 50%;
  font-size: 0.625rem;
}


.title h3 {
  color: var(--color-text-ash);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}


#applicantModal.come-from-modal.right #post_form .row button.preview-btn {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: var(--primary-purple);
  padding: 14px 24px;
  border-radius: 8px;
  border: 0.5px solid var(--primary-purple);
  width: 100%;
}

#applicantModal.come-from-modal.right #post_form .row button.proceed-btn {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  background-color: var(--primary-purple);
  color: var(--color-text-white);
  padding: 14px 24px;
  border-radius: 8px;
  width: 100%;
}


#applicantModal.come-from-modal.right .applicants {
  width: 100%;
  background: var(--color-bg);
  margin-bottom: 0.2rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
}

#applicantModal.come-from-modal.right .applicants h4 {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.05rem;
}

#applicantModal.come-from-modal.right .applicants .card_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

#applicantModal.come-from-modal.right .applicants .card_top .profile_info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#applicantModal.come-from-modal.right .applicants .card_top .profile_info>span:nth-child(2) {
  margin-top: 0.2rem;
}

#applicantModal.come-from-modal.right .applicants .card_top .profile_info img.prof {
  width: 3rem;
}

#applicantModal.come-from-modal.right .applicants .card_top .profile_info h4 {
  font-size: 0.75rem;
  line-height: 1.05rem;
  margin-bottom: 0;
  color: var(--primary-purple);
  font-weight: 700;
}

#applicantModal.come-from-modal.right .applicants .card_top .profile_info .rate_score {
  color: var(--color-text-ash);
  font-size: 0.6rem;
}

#applicantModal.come-from-modal.right .applicants .card_top .profile_info .rate_score {
  color: var(--color-text-ash);
  font-size: 0.625rem;
}

#applicantModal.come-from-modal.right .applicants .card_top .top_cta button {
  border-radius: 0.5rem;
  color: var(--primary-purple);
  font-weight: bold;
  background-color: var(--color-bg-light);
  border: 1px solid var(--color-text-ash);
  padding: 0.625rem 1rem;
  font-size: 0.625rem;
  margin-top: 0.5rem;
}

#applicantModal.come-from-modal.right .applicants .card_top .top_cta button .icon-saved {
  font-size: 0.625rem;
}

#applicantModal.come-from-modal.right .applicants .card_top .top_cta button.active {
  border-radius: 0.7rem;
  background-color: var(--color-primary-dark);
  color: var(--color-text-white);
}

#applicantModal.come-from-modal.right .applicants .card_top .top_cta button:hover {
  background-color: var(--color-bg-light);
  color: var(--primary-purple);
}



