/* #jobrequestModal.come-from-modal.right .modal-header {} */

#jobrequestModal.come-from-modal.right .btn-close {
    border: 1px solid var(--color-text-ash);
    border-radius: 50%;
    font-size: 0.625rem;
}

/* #jobrequestModal.come-from-modal.right .profile_section {} */
/* #jobrequestModal.come-from-modal.right .profile_section .profile_wrapper {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    opacity: 0px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
} */



#jobrequestModal.come-from-modal.right .filters {
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

#jobrequestModal.come-from-modal.right .filters .btn-filter {
    color: var(--primary-purple);
    line-height: 0.9rem;
    border: 0.5px solid var(--color-bg-light);
    border-radius: 8px;
    padding: 12px 24px;

}

#jobrequestModal.come-from-modal.right .filters .btn-filter.active {
   background-color: var(--primary-purple);
   color: var(--color-text-white);
}

#jobrequestModal.come-from-modal.right .filters .btn-filter:hover {
   background-color: var(--color-primary-light);
   color: var(--color-text-white);
}













#jobrequestModal.come-from-modal.right .cards {
    gap: 0.3rem;
    width: 100%;
    padding: 0.5rem;
    height: 32rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

#jobrequestModal.come-from-modal.right .card {
    width: 100% !important;
    background: var(--color-text-white);
    border: 1px solid var(--color-text-ash);
    margin-bottom: 0.2rem;
    padding: 1rem;
    border-radius: 1.5rem;
}

#jobrequestModal.come-from-modal.right .card .card_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

#jobrequestModal.come-from-modal.right .card .card_top .profile_info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#jobrequestModal.come-from-modal.right .card .card_top .profile_info>span:nth-child(2) {
    margin-top: 0.2rem;
}

#jobrequestModal.come-from-modal.right .card .card_top .profile_info img.prof {
    width: 3rem;
}

#jobrequestModal.come-from-modal.right .card .card_top .profile_info h4 {
    font-size: 0.875rem;
    line-height: 1.05rem;
    margin-bottom: 0;
    color: var(--primary-purple);
    font-weight: 700;
}

#jobrequestModal.come-from-modal.right .card .card_top .profile_info .rate_score {
    color: var(--color-text-ash);
    font-size: 0.6rem;
}

#jobrequestModal.come-from-modal.right .card .card_top .profile_info .rate_score {
    color: var(--color-text-ash);
    font-size: 0.625rem;
}

#jobrequestModal.come-from-modal.right .card .card_top .top_cta button {
    border-radius: 0.5rem;
    color: var(--color-text-ash);
    border: none;
    padding: 0.625rem 1rem;
    font-size: 0.625rem;
    border: 1px solid #a7a7a727;
}

#jobrequestModal.come-from-modal.right .card .duration {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#jobrequestModal.come-from-modal.right .card .duration h3 {
    font-size: 1rem;
    margin: 0;
}

#jobrequestModal.come-from-modal.right .card .duration .time_post {
    color: var(--color-text-ash);
    font-size: 0.625rem;
    margin: 0;
    margin-left: -0.625rem;
}



#jobrequestModal.come-from-modal.right .card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.4rem;
}

#jobrequestModal.come-from-modal.right .card>h4 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.05rem;
}

#jobrequestModal.come-from-modal.right .card span.address {
    background-color: var(--color-bg);
    font-size: 0.58rem;
    font-weight: 500;
    line-height: 0.75rem;
    text-align: center;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    color: var(--color-text-ash);
}


#jobrequestModal.come-from-modal.right .card .price {
    border-top: 1px solid var(--color-text-ash);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
    font-family: var(--font-family-text);
}

#jobrequestModal.come-from-modal.right .card .price a {
    padding: 0.75rem;
    background-color: var(--primary-purple);
    color: var(--color-text-white);
    border-radius: 0.5rem;
    border: none;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-family-body);
}

#jobrequestModal.come-from-modal.right .card .price a:hover {
    background-color: var(--color-bg-light);
    color: var(--primary-purple);
    border: 1px solid var(--primary-purple);
}

#jobrequestModal.come-from-modal.right .card .price span h6 {
    font-size: 0.75rem;
    font-family: var(--font-family-text);
    font-weight: 700;
}

#jobrequestModal.come-from-modal.right .card .price span p {
    font-size: 0.5rem;
    color: var(--color-text-ash);
    font-weight: 500;
}






#jobrequestModal.come-from-modal.right .reviews {
    height: 18rem;
    overflow-y: scroll;
    padding-top: 1rem;
}

#jobrequestModal.come-from-modal.right .reviews .review {
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--color-text-ash);
}

#jobrequestModal.come-from-modal.right .reviews .review .comment p {
    font-size: 0.625rem;
    color: var(--color-text-ash);
}

#jobrequestModal.come-from-modal.right .reviews .review .ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
}

#jobrequestModal.come-from-modal.right .reviews .review .worker_profile {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


#jobrequestModal.come-from-modal.right .reviews .review .worker_profile img.prof {
    width: 3rem;
}

#jobrequestModal.come-from-modal.right .reviews .review .worker_profile h4 {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    color: var(--primary-purple);
    font-weight: 700;
}

#jobrequestModal.come-from-modal.right .reviews .review .worker_profile .rate_score {
    color: var(--color-text-ash);
    font-size: 0.875rem;
}

#jobrequestModal.come-from-modal.right .reviews .review .worker_profile .rate_score {
    color: var(--color-text-ash);
    font-size: 0.625rem;
}

#jobrequestModal.come-from-modal.right .reviews .review .star_ratings {
    color: var(--primary-purple);
}

#jobrequestModal.come-from-modal.right .reviews .review .star_ratings .rate-icon {
    font-size: 0.75rem;
}

#jobrequestModal.come-from-modal.right .reviews .review .star_ratings .unrated {
    color: var(--color-text-ash);
}



/* 
#jobrequestModal.come-from-modal.right .tab-content {
    display: normal !important; 
    flex-direction: column; 
} */

/* #jobrequestModal.come-from-modal.right .active-content { 
     display: flex;
    flex-direction: column; 
} */